<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>{{title}} car details</title>
     <link rel="stylesheet" href="/css/bootstrap.min.css">
     <link rel="stylesheet" href="/css/style.css">
</head>
<body>
     {% include "header.html" %}
     <main class="my-3">
          <div class="container">
               <h1>{{title | title}}</h1>
               <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                         <li class="breadcrumb-item"><a href="/">Home</a></li>
                         <li class="breadcrumb-item"><a href="/cars">Cars</a></li>
                         <li class="breadcrumb-item active" aria-current="page">{{title | title}}</li>
                    </ol>
               </nav>
               <hr>
               <h2>{{title | title}} Details</h2>
               
               <table class="table table-bordered">
                    <tbody>
                         <tr><th>Car Name</th><td>{{car[0].name | title}}</td></tr>
                         <tr><th>Body Type</th><td>{{car[0].type | title}}</td></tr>
                         <tr><th>Price</th><td>{{car[0].price}}</td></tr>
                    </tbody>
               </table>
                
          </div>
     </main>
     {% include "footer.html" %}
<script src="/js/bootstrap.bundle.min.js"></script>     
</body>
</html>