<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>{{title}}</title>
     <link rel="stylesheet" href="/css/bootstrap.min.css">
     <link rel="stylesheet" href="/css/style.css">
</head>
<body>
     {% include "header.html" %}
     <main class="my-3">
          <div class="container">
               <h1>{{title | title}} </h1>
               <hr>
               <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                         <li class="breadcrumb-item"><a href="/">Home</a></li>
                         <li class="breadcrumb-item active"><a href="#">Cars</a></li>
                    </ol>
               </nav>
               <h2>Cars Available</h2>
               <div class="row g-3">
                    {% for i in cars %}
                         <div class="col-lg-3 col-sm-6">
                              <div class="card">
                                   <div class="card-body">
                                       
                                             <h3>{{ i.name | title }}</h3>
                                             <p>Body Type: {{ i.type | title }}</p>
                                             <p>Price: ₹{{ i.price }}</p>
                                             <a href={{"cars/"+(i.name).replaceAll(" ","-") }}>{{i.name | title}}</a>
                                   </div>
                              </div>
                         </div>
                    {% endfor %}
               </div>
               <hr>
          </div>
     </main>
     {% include "footer.html" %}
<script src="/js/bootstrap.bundle.min.js"></script>     
</body>
</html>