<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>{{title}}</title>
     <link rel="stylesheet" href="/css/bootstrap.min.css">
     <link rel="stylesheet" href="/css/style.css">
</head>
<body>
     {% include "header.html" %}
     <main class="my-3">
          <div class="container">
               <h1>Welcome to {{title | title}}</h1>
               <p>Tech Altum is in IT Training Institute in noida founded in 2012. Since {{age}} years, we are teaching</p>
        
              
                <h2>Add Data</h2>

                <form action="/addcars" method="get">
                    <div class="row align-items-center">
                         <div class="col-auto"><label class="form-label" for="car">Name</label></div>
                         <div class="col-auto"><input type="text" pattern="[\w]{3,15}" class="form-control" name="car" id="car" required></div>
                         <div class="col-auto"><label class="form-label" for="type">Type</label></div>
                         <div class="col-auto">
                              <select class="form-select" name="type" id="type" required>
                                   <option value="" selected disabled>--Choose Body Type--</option>
                                   <option>hatchback</option>
                                   <option>sedan</option>
                                   <option>suv</option>
                                   <option>mpv</option>
                              </select>
                         </div>
                         <div class="col-auto"><label class="form-label" for="car">Price</label></div>
                         <div class="col-auto"><input type="text" pattern="[\d]{6}" class="form-control" name="price" id="price" required></div>
                         <div class="col-auto"><button class="btn btn-outline-primary">Add Car</button></div>
                    </div>
                </form>
          </div>
     </main>
     {% include "footer.html" %}
<script src="/js/bootstrap.bundle.min.js"></script>     
</body>
</html>