<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>{{title}}</title>
     <link rel="stylesheet" href="/css/bootstrap.min.css">
     <link rel="stylesheet" href="/css/style.css">
</head>
<body>
     {% include "header.html" %}
     <main class="my-3">
          <div class="container">
               <h1>{{title}}</h1>
               <form action="/admin" method="post">
                    <label>Id: <input type="text" name="id" required></label>
                    <label>Password: <input type="password" name="password" required></label>
                    <button>Login</button>
               </form>
          </div>
     </main>
     {% include "footer.html" %}
     <div class="container">
     </div>
<script src="/js/bootstrap.bundle.min.js"></script>     
</body>
</html>